---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Skills from "@/components/sections/Skills.astro";
import Projects from "@/components/sections/Projects.astro";
import Experience from "@/components/sections/Experience.astro";
import Education from "@/components/sections/Education.astro";
---

<Layout title="Seevt Portfolio">
  <main class="box-wrapper">
    <div class="center-wrapper">
      <div class="stack-wrapper">
        <Hero />
        <About />
        <Skills />
        <Projects />
        <Experience />
        <Education />
      </div>
    </div>
  </main>
</Layout>

<style is:global>
  .box-wrapper {
    padding: 1rem;
  }

  .center-wrapper {
    width: min(100%, 70ch);
    margin-inline: auto;
  }

  .stack-wrapper {
    --gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .stack-wrapper > * {
    margin-top: 0;
    margin-bottom: 0;
  }
  .stack-wrapper > * + * {
    margin-top: var(--gap);
  }
</style>
